@model Lesson8Backend.Models.Deleted

@{
    ViewData["Title"] = "Undo";
}

<h1>Undo</h1>

<h3>Undo Recent Delete</h3>
<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Undo" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>